/* .container__app {
    margin-top: 160px;
    margin-bottom: 50px;
    padding: 0 50px;
}

ul.nav-bar__list {
    display: flex;
}

.item__link {
    color: #00acc1;
}

.nav-bar__item + .nav-bar__item {
    margin-left: 10px;
}

.icon-angle {
    margin-left: 10px;
}

.app__body {
    padding: 30px 70px 15px 70px;
}

.body__movie img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.slide-nominated-play--big {
    font-size: 50px;
    opacity: .8;
}

.body__movie {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}


.content__like,
.content__share {
    padding: 4px 8px;
    background-color: #1877f2;
    border-radius: 5px;
}

.content__share {
    margin-left: 10px;
}

.content__rating {
    margin-top: 12px;
}

.content__rating i {
    color: #6d6969;
}

.content__movie {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3e4b63;
}

.movie__heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #00acc1;
}

.movie__content {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .5px;
}

.content__info {
    padding-top: 15px;
}

.item-info {
    padding-bottom: 4px;
    color: #00acc1;
}

.item-info span {
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.content__comment {
    margin-top: 20px;
    padding: 15px;

    color: black;
    background-color: white;

    border-radius: 5px;
}

.comment__header {
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.comment__input {
    display: flex;
    padding: 20px 0;
}

ul.comment__list {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.avatar {
    width: 72px;
}

.cover__input {
    flex: 1;
    margin-left: 20px;
}

.input {
    padding: 9px 10px;
    font-size: 14px;
    border: 1px solid #3e4b63;
    border-radius: 5px;
    color: black;
}

.input::placeholder {
    color: black;
}

.submit {
    float: right;
    padding: 7px;
    margin-top: 6px;

    background-color: #1877f2;
    color: white;

    border-radius: 5px;
    outline: none;
    border: none;
}

.comment__item {
    padding: 15px 11px;
    display: flex;
}

.comment__item .avatar {
    width: 62px;
    height: 62px;
}

.comment__item .avatar img {
    border-radius: 5px;
}

.item__content {
    flex: 1;
    margin-left: 20px;
}

.item__name {
    color: #385898;
    font-weight: 600;
}

.item__comment {
    font-size: 14px;
    margin-top: 7px;
}

.item-status {
    font-size: 12px;
    margin-top: 10px;
    margin-left: -10px;
    color: #4d70b7;
}

.item-status span {
    position: relative;
    padding-left: 10px;
}

.item-status>span:nth-child(3)::after,
.item-status>span:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(50%, -50%);

    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #1877f2  ;
}

.item-status>span:nth-child(3) {
    color: #a4a8ae;
}

h2.header__slide-nominated-movie.header__slide--height-small {
    margin-top: -20px;
}

h3.content__name-movie {
    padding: 0 0 20px;
    color: #cc4c29;
    font-size: 24px;
    font-weight: 500;
} */
