* {
    margin: 0px;
    padding: 0px;
}

.slogan {
    margin: 300px auto;
    background-color: #d9f498;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#course {
    text-transform: uppercase;
    color: blueviolet;
}


