{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "~": "./src"
        }
      }]
    ]
  }

  // thèn này để ghi chồng cú pháp lên. tạo cú pháp rút gọn
  // thay vì viết  ../../src/component thì viết @/component