* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(206, 219, 243);
}

.container {
    width: 600px;
    height: 680px;
    text-align: center;
    margin: 50px auto;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color: #fff;
}

header {
    height: 200px;
    background: rgb(11, 11, 102);
    position: relative;
    border-radius: 10px 10px 0 0;

}

.clear {
    clear: both;
}

ul {
    display: inline-block;
    width: 360px;
    position: relative;
}



li {
    list-style-type: none;
}

.input {
    text-align: left;
    padding-top: 50px;
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 500;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
    padding-bottom: 12px;
}

p.header-content {
    height: 200px;
    line-height: 200px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

i.fa-solid.fa-xmark {
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(248, 244, 244, 0.15);
    border-radius: 50%;
    margin: 10px;
}

i.fa-solid.fa-angle-down {
    display: block;
    text-align: right;
    font-size: 12px;
    padding-bottom: 10px;
}

main {
    width: 68%;
    margin: 0 auto;
    padding: 40px 0;
}

input {
    text-indent: 10px;
    font-size: 15px;
}

label, input, select {
    display: block;
    text-align: left;
    padding: 13px 0;
    border: none;
    outline: none;
}

input,select {
    border-bottom: 1px solid;
    width: 100%;
    
}

.submit  {
    border: none;
    text-align: center;
    padding: 20px 20px;
    display: inline-block;
    width: 200px;
    background-color: rgb(11, 11, 102);
    border-radius: 34px;
    font-size: 15px;
    color: white;
    margin-top: 30px;
}

option {
    height: 30px;
}