@media (max-width: 1048px) {
    .container {
        margin: 0 10px;
    }
    
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu {
        display: none
    }

    .navbar-slogan {
        text-align: center;
    }

    .navbar-sign-in-link {
        display: none;
    }
    
    .navbar-sign-up__button {
        margin: 0;
        margin-right: 10px;
    }


    .navbar-menu-search {
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-size: 35px;
        padding: 10px;
    }
    
    .navbar-menu-search:hover {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        
    }

    /* *****************8phần menu ẩn đi*****************8 */

    .navbar_1 {
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0%;
        left: 0;
        z-index: 5;
        display: none;

    }
    
    .navbar-menu-main_1 {
        display: block;
        width: 50%;
        background-color: white;
        height: 100vh;
    }
    
    .navbar-menu_1 {
        display: block;
    }

    .navbar-items-link_1 {
        font-size: 18px;
    }

    .navbar-menu-items_1 {
        padding: 18px 10px;
    }

    .navbar-login_1 {
        margin-top: 40px;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-sign-in-link_1 {
        display: block;
        padding-left: 10px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .navbar-sign-up__button_1 {
        margin-bottom: 20px;
        font-size: 18px;
        margin-right: 10px;
    }

    .navbar-slogan_1 {
        padding-left: 30px;
    }
    
}
@media (max-width: 978px) {
    .box-padding {
        width: 50%;
        margin: 30px auto;
    }
    
    .select {
        flex-wrap: wrap;
    }

    .info-img {
        display: none;
    }

    .download {
        position: static;
        justify-content: center;
    }

    .download-content {
        width: 70%;
        text-align: center;
    }

    .download-img {
        position: static;
    }
}

@media (max-width: 769px) {

    .box-padding {
        width: 100%;
        margin-bottom: 50px;
        margin: 30px auto;
    }

    .info-content {
        width: 70%;
    }

    form {
        display: flex;
    }

    .info-content {
        width: 100%;
    }

    .evaluate-box-value {
        font-size: 50px;
    }

    .place-items-icon {
        display: none;
    }
    
    .footer-finish {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-search {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-search-submit {
        top: 122px;
        right: 35px;
    }


    .navbar-slogan {
        width: 50%;
    }

    .footer-finish-content {
        order: 3;
        margin-top: 30px;
    }

    .footer-finish-icon-img {
        width: 50%;
        justify-content: end;
    }
}

@media (max-width: 670px)  {
    .download-img {
        display: none;
    }
}
