* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #4368C7;
    --font-size-describe: 12px;
    --height-background-evaluate: 335px;
}

body {
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.navbar-menu-header {
    /* background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; */
}


/* **************************8phần menu ẩn đi**************************8 */

.navbar_1 {
    display: none;
}

.navbar-menu-main {
    
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 ;
    background-color: white;
    z-index: 10;
}

.navbar-slogan {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    font-family: 'IBM Plex Serif';
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
} 

.navbar-menu-search {
    display: none;
}

.navbar-menu-items {
    padding: 12px 45px;
}

.navbar-items-link {
    font-size: 14px;
    font-weight: 600;
    color: black;
    font-family: 'Inter', sans-serif;
}

.navbar-login {
    display: flex;
    align-items: center;
}

.navbar-sign-in-link {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: black;
}

.navbar-sign-up__button {
    display: block;
    background-color: #4368C7;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-left: 52px;
    padding: 12px 15px;
}

/********************hover *********************/

.introduce-button:hover,
.introduce-items-crypto:hover,
.navbar-menu-items:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    /* opacity: 0.7; */
    cursor: pointer;
    color: white;
}


.content-header:hover,
.select-link:hover,
.navbar-sign-in-link:hover {
    color: #ccc;
    cursor: pointer;
}

.img-crypto-youtobe:hover {
    cursor: pointer;
}


.info-submit:hover,
.navbar-sign-up__button:hover {
    opacity: 0.7;
    cursor: pointer;
}
/********************hover *********************/


 /* ********************begin introduce******************** */
.introduce {
    padding-top: 109px;
    text-align: center;
    width: 100%;
}

.introduce-header {
    font-size: 56px;
    font-family: 'Inter', sans-serif;
}

.introduce-describe {
    width: 63.67%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 27.6px;
}

.introduce-list-crypto {
    display: flex; 
    justify-content: center;
    padding-bottom: 35px;
}


.introduce-items-crypto {
    padding: 10px 27px ;
}

.introduce-link-crypto {
    font-size: 15px;
    letter-spacing: -0.24px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: black;
}

.introduce-button {
    background: #4368C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 17px 110.5px ;
}

.introduce-button-link {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 50px;
}


/* ******************** begin img******************** */
.img {
    text-align: center;
    margin-top: 56px;
}

.img-crypto {
    position: relative;
    width: 86.25%;
    margin: 0 auto;
}

.img-crypto-youtobe {
    width: 100%;
    height: 100%;
}

.img-icon-youtobe {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 123px;
    transform: translate(50%, -50%);
    color: #4368C7;
}

.img-icon-youtobe::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: -1;
}

.img-content {
    padding: 102px 0;
}

.img-content-header {
    font-size: 29px;
    line-height: 29px;
    font-weight: 600;
    font-family: 'IBM Plex Serif';
}

.img-content-footer {
    font-size: 12px;
    font-weight: 400;
    font-family: 'IBM Plex Serif';
    padding-top: 14px;
    width: 468px;
    margin: 0 auto;
}



/* ******************** begin img******************** */

.select {
    display: flex;
    justify-content: space-between;
    padding: 0 52px;

}

.box-padding {
    width: 33.33333%;
    padding: 0 5px;
}

.select-box {
    /* width: 33.33333%; */
    border-radius: 25px; 
    padding: 32px 24px;
    text-align: center;
    background: linear-gradient(347deg, rgba(51,55,105,0), rgba(67,104,199,0.2));
}

.box1 {
    margin-left: -5px;
}
.box2 {
    margin-right: -5px;
}

.select-box-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
}

.select-img {
    vertical-align: middle;
}

.select-header {
    font-size: 32px;
    font-family: inter;
    margin: 16px 0;
    font-weight: 800;
}

.select-describe {
    font-size: 16px;
    line-height: 24px;
    font-family: inter;
    padding: 0px 24px;
    font-weight: 400;
}

.select-describe__blur {
    padding: 0;
    color: #898CA9;
    text-indent: 6px;
}

.select-footer {
    padding: 27px;
    font-size: 16px;
    line-height: 16px;
    font-family: inter;
    font-weight: 600;
}

.select-link {
    color:#4368C7;
}


.select-box > .select-footer > i {
    color:#4368C7;
    font-size: 14px;
    margin-left: 12px;
}



/* ******************** begin info******************** */

.info {
    display: flex; 
    margin-top: 197px;
    margin-left: 105px;
    margin-bottom: 89px;
    justify-content: space-between;
}

.info-content {
    width: 58%;
}

.info-content-header {
    display: flex;
    align-items: center;
}

.info-header-border-img {
    width: 85px;
    height: 81px;
    border-radius: 50%;
    background-color: #4368C7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header-img {
    width: 62.62px;
    height: 59.21px;
}

.content-header {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 28px;
    color: #4368C7;
    margin-left: 16px;
}

.content-header-icon{
    color: #4368C7;
    font-size: 28px;
    margin-left: 8px;
}

.info-content-main {
    font-family: 'IBM Plex Serif';
    font-weight: 700;
    font-size: 69px;
    width: 506px;
    margin-top: 31px;
    padding-left: 2px;
}

.info-content-describe {
    margin: 36px 0 35px 4px;
    font-family: 'IBM Plex Serif';
    font-weight: 400;
    font-size: 12px;
    width: 468px;
    height: 35px;
    line-height: 180%;
}

form {
    display: flex;
}

.info-email {
    padding: 22px 168px 22px 13px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 12px;
    font-family: 'IBM Plex Serif';
    flex: 1;
}

.info-submit {
    padding: 22px 65.5px;
    background: #4368C7;
    border-radius: 15px;
    font-weight: 700;
    font-size: 12px;
    font-family: 'IBM Plex Serif';
    color: white;
    border: none;
    margin-left: 20px;
}

.info-img {
    width: 42%;
}

.info-img-ip13pro {
    width: 100%;
    height: 100%;
}


/* ******************** begin evaluate******************** */

.background-evaluate {
    background-color:  #4368C7;;
    width: 100%;
    margin: 0 auto;
}

/* ******************** begin evaluate******************** */

.evaluate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 335px;
}

.evaluate-box-common {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.evaluate-box-value {
    font-weight: 700;
    font-size: 68px;
    line-height: 33px;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: white;
}

.evaluate-box-name {
    margin-top: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 33px;
    color: white;
}



/* ******************** begin download******************** */
.position-img {
    position: relative;

}

.download {
    width: 100%;
    display: flex;
}
.download-content {
    margin-top:80px;
    width: 50%;
}
.download-content-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 53px;
}
.download-content-describe {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 422px;
    margin-top: 10px;
}
.download-btn {
    background-color: #4368C7;
    padding: 17px 110.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 131px;
}

.download-btn-link {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-size: 15px;
    height: 20px;
    letter-spacing: -0.24px;
    color: white;
}

.download-img {
    position: absolute;
    width: 669px;
    right: -71px;
    top: -88px;
}

.download-img-shadow {
    width: 100%;
    height: 100%;
}


/* ******************** begin footer******************** */

.background-footer {
    background-color: #4368C7;
    width: 100%;
    margin: 0 auto;
    transform: translateY(0);
}

.footer {
    width: 100%;
    z-index: 10;
    padding: 102.14px 93px 56.14px 93px;
}

.footer-place {
    display: flex;
    width: 100%;
    gap: 0 20px;
}

.footer-place-common {
    width: 33.3333%;

}

.place-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}   

.place-list {
    padding-top: 25.7px;
}

.place-items-content {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    line-height: 32px;
}

.place-items {
    display: flex;
    align-items: center;
}

.footer-contact {
    display: flex;
    gap: 0 20px;
    margin-top: 10.35px;
    padding-bottom: 80.15px;
}

.place-items-icon {
    font-size: 20px;
}

.place-items-contact__center {
    margin-bottom: 24px;
}

.place-number-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding-left: 22px;
    color: white;
}

.footer-search {
    display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 7px;
}

.footer-search-content {
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 81.11px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer-search-input {
    margin: 15.54px 20px 15.54px 30px;
    padding: 9px 24px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 32px;
    opacity: 0.9;
    border: none;
    outline: none;
    flex: 1;
}

.footer-search-submit {
    padding: 9px 29px;
    background: #4368C7;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
}   

.footer-finish {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58.27px 0 ;
}

.footer-finish-slogan {
    color: white;
}

.footer-finish-content {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: white;
    line-height: 17px;
    opacity: 0.8;
    margin-right: 98px;
}

.footer-finish-icon-img {
    display: flex;
    align-items: center;
}

.footer-img-flag {
    width: 100%;
    height: 100%;
}

.footer-finish-img {
    width: 23.95px;
    height: 16px;
}

.footer-img-icon {
    width: 100%;
    height: 100%;
}

.footer-finish-icon {
    width: 18px;
    height: 18.02px;
    margin-left: 8.05px;
}


