.icon_fb {
    background-color: greenyellow;
    text-align: center;
    width: 300px;
    letter-spacing: -1px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.fa-brands.fa-facebook-f {
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

i.fa-brands.fa-facebook-f.fb-left {
    color: blue;
}

i.fa-brands.fa-facebook-f.fb-right {
    background-color: blue;
    color: #fff;
}